@media only screen and (max-width:1280px){
    .page{
        padding-left:30px
    }
    .header{
        max-width: 330px;
    }
}
@media only screen and (min-width:1025px){
    .header{
        display:inline-block;
        float:left;
        width:100%;
        max-width:380px;
        height:100%;
        max-height:80vh;
        min-height:inherit;
        text-align:center;
        padding:70px 30px 45px;
        overflow:auto
    }
    ul.main-menu{
        position:absolute;
        padding:15px 0;
        width:70px;
        right:-90px;
        background-color:#444;
        border-radius:35px;
        z-index:999;
        list-style:none;
        top:0;
        -webkit-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
        -moz-box-shadow:0 0 30px -5px rgba(0,0,0,.15);
        box-shadow:0 0 30px -5px rgba(0,0,0,.15)
    }
    ul.main-menu a{
        display:block;
        position:relative;
        color:#b5b6b7;
        padding:10px;
        -webkit-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        -o-transition:all .3s ease-in-out;
        -ms-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out
    }
    ul.main-menu a.active,ul.main-menu a:focus,ul.main-menu a:hover{
        color:#04b4e0
    }
    ul.main-menu .menu-icon{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:30px
    }
    ul.main-menu .link-text{
        position:absolute;
        width:auto;
        visibility:hidden;
        opacity:0;
        color:#fff;
        padding:2px 10px;
        background-color:#04b4e0;
        white-space:nowrap;
        right:0;
        top:-50%;
        margin-top:50%;
        -webkit-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        -o-transition:all .3s ease-in-out;
        -ms-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;
        z-index:0;
        box-shadow:0 10px 10px -8px rgba(0,0,0,.22)
    }
    ul.main-menu a:hover .link-text{
        right:100%;
        visibility:visible;
        opacity:1
    }
}
@media only screen and (max-width:1024px){
    .page{
        padding:0
    }
    .page-content{
        padding:0;
        margin:0;
        border-radius:0;
        min-height:100%
    }
    .header{
        position: absolute;
        width: 100%;
        max-width: 330px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #444;
        z-index: 99;
        padding: 30px 30px 10px;
        text-align: center;
        opacity: 1;
        visibility: visible;
        overflow: auto;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .header .copyrights{
        right: 0;
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    .mobile-menu-hide{
        width:0;
        right:0;
        margin-right:-100%;
        overflow:hidden;
        opacity:0;
        visibility:hidden;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none
    }
    .header-titles h2{
        font-size:30px;
        margin-bottom:10px
    }
    .header-titles h4{
        font-size:17px
    }
    ul.main-menu{margin:30px 0}
    ul.main-menu a{
        display:block;
        color:#fff;
        padding:12px 0;
        line-height:21px;
        opacity:.7
    }
    ul.main-menu a.active{opacity:1}
    ul.main-menu .menu-icon{display:none}
    ul.main-menu .link-text{
        font-size:16px;
        line-height:21px
    }
}